<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title><![CDATA[devGiants]]></title>
    <link href="/blog/tags/config.xml" rel="self"/>
    <link href="/"/>
    <updated>2018-11-16T12:02:00+01:00</updated>
    <id>/</id>
        <generator uri="http://sculpin.io/">Sculpin</generator>
            <entry>
            <title type="html"><![CDATA[Symfony Config : how to handle entire section require status ?]]></title>
            <link href="/blog/2018/02/20/entire-section-requirements-symfony-config/"/>
            <updated>2018-02-20T16:44:24+01:00</updated>
            <id>/blog/2018/02/20/entire-section-requirements-symfony-config/</id>
            <content type="html"><![CDATA[<h2 id="context">Context</h2>

<p><a href="http://symfony.com/doc/current/components/config.html">Symfony Config Component</a> is an extremely powerful way of configuring bundles and apps. 
For my work in progress in <a href="https://github.com/compagnie-hyperactive/UserBundle">LCH User bundle</a>, I wanted to set <code>templates</code> array node as <strong>not required</strong>.</p>

<h2 id="what%27s-at-stake">What's at stake</h2>

<p>All other nodes types are not required unless you add the <code>isRequired()</code> (<a href="https://github.com/compagnie-hyperactive/UserBundle/blob/master/DependencyInjection/Configuration.php#L62">example</a>) method to your node. Doing so, you will have an exception thrown saying that you have to define this key, which is what you want.</p>

<p>For the array node, it's <strong>different</strong> : it's enabled by default and you have to specify the <code>canBeEnabled()</code> (<a href="https://github.com/compagnie-hyperactive/UserBundle/blob/master/DependencyInjection/Configuration.php#L83">example</a>) method to your array node to ensure that it will be disabled by default, but enabled if needed.</p>
]]></content>
        </entry>
    </feed>