---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,700,700i');

@import "_variables";
@import "minima";
@import "_syntax";

body {
  background-color: $main-color;


  a, a:visited {
    color: $second-color;
    text-decoration: none;
    &:hover {
      color: $third-color;
    }
  }


  span {
    &.first {
      color: $second-color;
    }
    &.second {
      color: $third-color;
    }
  }


  .site-nav {
    a.page-link {
      color: $fourth-color;
    }
  }

  h1, h2, h3 {
    font-weight: 400;
  }

  h2, h3 {

  }

  h2 {
    margin-top: 30px;
  }

  p {
    line-height: 20px;
  }

  ul, ol {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}