---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
//@import "_variables";

@import "syntax.css";

$main-color: #1E1B18;
$second-color: #468C98;
$third-color: #F78154;
$fourth-color: #7E7C7F;

body {
  background-color: $main-color;
  color: $fourth-color;

  a {
    color: $second-color;
    text-decoration: none;
  }
}